.adress{
  flex: 0 1 32.5rem;
  font-size: 1.6rem;
  color: white; 

  &--header {
    font-size: 1.2rem;
    margin-top: 0.7rem;
    color: $lightBackground;

    @media (max-width: 992px) {
    font-size: 1rem;
    }
  }

  @media (max-width: 767px) {
    font-size: 1.5rem;
  }

  @media (max-width: 576px) {
    flex: 0;
    text-align: center;
    br {
      display: none;
    }
  }
  
}
