.btn{
  color: white;
  font-size: 1.4rem;

  background: $red;
  border: none;
}

.btn__checkout{
  max-width: 17rem;
  width: 100%;
  padding: 1.1rem 2rem;
  background-color: #63a63e;
  border: none;
  font-size: 1.47rem;
  color: white;
  transition: all 0.3s;

  &:hover{
    background-color: #5fbb2d;
  }

  &:active{
    background-color: #518534;
  }
}

.btn__service{
  margin-top: 2.5rem;
  font-size: 1.4rem;
  color: white;
  height: 3.8rem;
  border: none;
  border-radius: 0.3rem;
  background: $red;
  padding: 0 3rem;

  transition: background .3s;

  &:hover {
    background: darken($color: $red, $amount: 5%);
  }

  &:active {
    background: darken($color: $red, $amount: 14%);
  }
}

.btn__information{
  margin-top: 5.2rem;
  border: none;
  background: $red;
  color: white;
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;

  transition: background .3s;

  &:hover {
    background: darken($color: $red, $amount: 5%);
  }

  &:active {
    background: darken($color: $red, $amount: 14%);
  }
}

.btn__contacts{
  margin-top: 4rem;
  border: none;
  background: $red;
  color: white;
  font-size: 1.4rem;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;

  transition: background .3s;

  &:hover {
    background: darken($color: $red, $amount: 5%);
  }

  &:active {
    background: darken($color: $red, $amount: 14%);
  }
}

.btn__panel{
  font-size: 1.4rem;
  color: white;
  width: 25.3rem;
  height: 3.8rem;
  border: none;
  border-radius: 0.3rem;
  background: $red;

  transition: background .3s;

  &:hover {
    background: darken($color: $red, $amount: 5%);
  }

  &:active {
    background: darken($color: $red, $amount: 14%);
  }
}

.btn__back{
  width: 13.5rem;
  height: 3.8rem;
  text-transform: uppercase;
  transition: all 0.3s;
  &--buy {
    background: #63a63e;
    color: white;
    border: none;
    box-shadow: 0 0.5rem 0 darken($color: #63a63e, $amount: 10%);
    padding-top: 0.4rem;

    &:hover {
      background: #5fbb2d;
    }
    
    &:active {
      background: #518534;
    }

    &:focus {
      outline: none;
    }
  }

  &--favorites {
    margin-top: 0.8rem;
    background: white;
    border: 3px solid #63a63e;
    color: #32425c;

    &:hover {
      border: 3px solid #32425c;
    }

    &:active {
      border: 3px solid #c1c6ce;
      color: #c1c6ce;
    }

    &:focus {
      outline: none;
    }
  }
  
}

.btn__slider{
  width: 19.5rem;
  height: 3.8rem;
  border: none;
  border-radius: 4px;
  background: $red;
  font-size: 1.4rem;
  margin-top: 12rem;
  color: white;
  transition: background .3s;

  &:hover {
    background: darken($color: $red, $amount: 5%);
  }

  &:active {
    background: darken($color: $red, $amount: 14%);
  }
}