
.card{
  display: flex;
  justify-content: space-between;
  height: 12.3rem;
  width: 100%;
  max-width: 30rem;

  &--matherial {
    position: relative;
    overflow: hidden;
    background: #ffbf47;

    @media (max-width: 767px) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &--tool {
    background: #3bbce3;

    @media (max-width: 767px) {
      grid-column: 2/3;
      grid-row: 4/5;
    }

    @media (max-width: 576px) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }

  &--tech {
    background: #dc91d8;

    @media (max-width: 767px) {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    @media (max-width: 576px) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }

  &--promote {
    background: #8ed78f;
    position: relative;
    grid-column: 3/4;
    grid-row: 2/3;

    @media (max-width: 767px) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  }

  &--delivery{
    background: #ffc047;
    grid-column: 3/4;
    grid-row: 3/4;

    @media (max-width: 991px) {
      height: 100%;
    }

    @media (max-width: 767px) {
      grid-column: 1/3;
      grid-row: 5/6;

      justify-content: center;
    }
  }

  @media (max-width: 991px) {
    max-width: 100%;
    height: 100%;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    height: 100%;
  }

  @media (max-width: 576px) {
    justify-content: center;
  }
}


.card__wrapper{
  margin-left: 2.1rem;
  color: white;

  &--delivery {

    @media (max-width: 767px) {
      margin-right: 6rem;
    }

    @media (max-width: 576px) {
      margin-right: 0;
    }
  }

  @media (max-width: 767px) {
    margin-right: 4rem;
  }

  @media (max-width: 576px) {
    margin-left: 2.1em;
  }
}

.card__text {
  font-size: 2.4rem;

  font-weight: bold;
  padding-top: 2rem;

  &--promote {

    &::after {
      content: '50%';
      position: absolute;
      left: 9.8rem;

      @media (max-width: 767px) {
        left: 8.5rem;
      }

      @media (max-width: 576px) {
        left: 56%;
      }
    } 
  }

  @media (max-width: 767px) {
    font-size: 1.9rem;
  }

  @media (max-width: 576px) {
    font-size: 2.4rem;
    position: relative;
  }
}

.card__link{
  transition: all 0.2s;
  width: 13.5rem;
  height: 3.8rem;
  margin-top: 2rem;

  font-size: 1.3rem;
  color: white;

  font-family: Cuprum;

  border: none;

  transition: all 0.3s;

  &--matherial{
    background: #e5ac40;

    &:hover{
      background: #c99738;
    }

    &:focus{
      background: #b08532;
    }
  }
  
  &--tool{
    background: #35a9cc;

    &:hover{
      background: #2b8aa7;
    }

    &:active{
      background: #26768f;
    }

  }

  &--tech{
    background: #c682c2;

    &:hover{
      background: #956392;
    }

    &:focus{
      background: #7a5178;
    }
  }

  &--promote{
    background: #80c180;

    &:hover{
      background: rgb(93, 141, 93);
    }

    &:focus{
      background: rgb(90, 136, 90);
    }
  }
  
  &--delivery{
    background: #e5ac40;

    &:hover{
      background:#af8331;
    }

    &:focus{
      background: #8d6b27;
    }

    @media (max-width: 767px) {
      margin-bottom: 3.3rem;
    }
  }

  @media (max-width: 767px) {
    font-size: 1.4rem;
    margin-top: 2.3rem;
  }

  @media (max-width: 576px) {
    font-size: 1.3rem;
  }
}


.card__image-wrapper {
  @include flex(center, center);
  width: 100%;

  &--delivery {

    @media (max-width: 767px) {
      width: 10%;
    }

    @media (max-width: 576px) {
      width: 59%;
    }
  }

  @media (max-width: 576px) {
    width: 10%;
  }
}
