.card-galery {
  padding-top: 6rem;
  padding-bottom: 4rem;

  @media (max-width: 767px) {
    padding-top: 3.5rem;
  }

  @media (max-width: 576px) {
    padding-top: 0;
  }
}

.card-galery__wrapper{
  display: grid;
  width: 100%;
  grid-gap: 2rem;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  @media (max-width: 991px) {
    grid-gap: 1rem;
  }  

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    grid-template-rows: 13rem 13rem 13rem 13rem 13rem 1fr;
  }
}
