.container {
  max-width: 94rem;
  width: 100%;

  margin: auto;
  
  &--intro {
    @include flex(stretch, space-between);
    margin-top: 2.6rem;

    @media (max-width: 767px) {
      font-size: 1.7rem;
    }

    @media (max-width: 576px) {
      @include flex(center, space-between, column);
      margin: 0;
      padding: 2.5rem 0;
    }
  }

  &--catalog {
    @include flex(stretch, space-between);
    padding: 2rem 1rem 6rem 1rem;

    @media (max-width: 767px) {
      @include flex(center, center, column);
    }
  }
}