.filter{
  width: 100%;
  max-width: 22rem;
  padding-right: 1rem;

  @media (max-width: 767px) {
    max-width: 100%;
    padding-right: 0;
    margin-top: 2rem;

    display: flex;
    align-items: stretch;
    flex-direction: column;

    position: relative;
  }
}

.filter__control {
  @media (max-width: 767px) {
  }
}

.filter__panel{
  width: 100%;
  font-size: 1.3rem;
  padding: 1.4rem 0 1.4rem 1.8rem;
  text-transform: uppercase;

  border-radius: 0.3rem;

  background: #f7f3ec;

  @media (max-width: 767px) {
    text-align: center;
    padding: 1.4rem 0;
  }
}

.filter__price {
  padding: 2rem 0;

  @media (max-width: 767px) {
    padding: 0;
  }
}

.filter__title {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 767px) {
    margin-top: 0.8rem;


  }
}

.filter__thumb-wrapper{
  margin-top: 2.3rem;
  padding: 3rem 2rem;
  border-radius: 0.3rem;
  background: #f7f3ec;
  
  @include flex(center, center);

  @media (max-width: 767px) {
    margin-top: 0.8rem;
  }
}

.filter__range{
  width: 100%;
  padding: 8px 0 20px 0;
  @include flex(center, space-between);
}

.filter__lower{
  max-width: 9.5rem;
  width: 100%;
  padding: 13px 0;
  text-align: center;

  font-size: 1.7rem;
  padding: 13px 35px;
  background: #f7f3ec;
  border-radius: 0.3rem;
}

.filter__dash {
  background: #444444;
  width: 0.9rem;
  height: 0.1rem;
}

.filter__upper{
  max-width: 9.5rem;
  width: 100%;
  font-size: 1.7rem;
  padding: 13px 0;
  text-align: center;
  background: #f7f3ec;
  border-radius: 0.3rem;
}

.filter__divider{
  width: 100%;
  height: 1px;

  background: #e5e5e5;
}

.filter__fabricators {
  @media (max-width: 767px) {
    .filter__title {
      text-align: center;
    }
  }
}

.filter__list{
  list-style: none;
  padding-bottom: 2rem;
}

.filter__item{
  margin-top: 13px;
}

.filter__power{
  padding: 26px 0 76px 0;
  font-size: 1.5rem;

  @media (max-width: 767px) {
    padding: 0;

    .filter__title {
      text-align: center;
    }
  }
}

.filter__show{
  display: block;
  font-size: 1.3rem;
  padding: 15px 0 15px 0;
  text-align: center;
  width: 100%;
  max-width: 15.8rem;
  background: white;
  border: 2px solid #e5e5e5;
  text-transform: uppercase;

  transition: all 0.3s;

  &:hover {
    border: 2px solid #bdc6ca;
  }

  &:active {
    border: 2px solid #ee3643;
  }
  
  &:focus {
    outline: none;
  }

  @media (max-width: 767px) {
    align-self: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}