.header-panel{
  background-color: $darkBackground;
}

.header-panel__wrapper{
  @include flex(stretch, space-between);
  font-size: 1.7rem;
  color: white;
  @media (max-width: 767px) {
    padding: 0 0.5rem;
    font-size: 1.4rem;
  }

  @media (max-width: 576px) {
    @include flex(center, space-between, column);
    padding: 0;
    font-size: 1.7rem;
  }
}