.intro {
  @media (max-width: 992px) {
    padding: 0 2rem;
  }

  @media (max-width: 576px) {
    padding: 0;
  }

}

.intro__description{
  font-weight: 700;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: $red;
  margin-left: 5rem;

  @media (max-width: 992px) {
    margin: 0;
    margin-left: 1rem;
  }

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }

  @media (max-width: 576px) {
    display: none;
  }
  
}

.intro__contact{
  @include flex(center, flex-start, column);


  @media (max-width: 576px) {
    display: none;
  }
}

.intro__content{
  @include flex(center, space-between);
  width: 100%;
  max-width: 24rem;
  font-size: 2.1rem;
  border: 3px solid white;
  padding: 5px 8px;

  .icon {
    height: 20px;
    width: 20px;
  }

  @media (max-width: 767px) {
    font-size: inherit;
    justify-content: flex-start;
  }


}

.intro__phone{
  font-weight: bold;
  padding-right: 3rem;
  color: $red;
  text-decoration: none;

  @media (max-width: 992px) {
    padding-right: 0;
  }

  @media (max-width: 767px) {
    padding-left: 1rem;
  }

  @media (max-width: 650px) {
    font-size: 1.5rem;
  }

  @media (max-width: 597px) {
    padding-left: 0.4rem;
  }
}

.intro__control{
  @include flex(stretch, center);
  font-size: 2.1rem;

  @media (max-width: 767px) {
    font-size: inherit;
  }
}

.intro__login{
  background: white;
  width: 100%;
  max-width: 12.1rem;
  @include flex(center, center);
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0 1rem;
  max-height: 4rem;
  transition: all 0.3s;
  
  &:hover{
    color: red;
    .icon{
      fill: #32425c;
    }
  }

  @media (max-width: 767px) {
    font-size: inherit;
    max-height: 3.6rem;
  }

  @media (max-width: 590px) {
    margin: 0 0.5rem;
  }

  @media (max-width: 576px) {
    padding: 2.3rem 1.9rem;
    margin-left: 0;
    font-size: 2.3rem;
    border-radius: 0.4rem;
  }
  
}

.intro__login-text{
  padding-left: 11px;

}

.intro__registration{
  width: 100%;
  max-width: 15rem;
  max-height: 4rem;

  background: white;

  padding: 0.8rem;
  
  text-align: center;

  transition: all 0.3s;

  &:hover{
    color: red;
  }

  @media (max-width: 992px) {
    @include flex(center, center);
  }

  @media (max-width: 767px) {
    font-size: inherit;
    max-height: 3.6rem;
  }

  @media (max-width: 576px) {
    max-height: 100%;
    padding: 1rem 1.4rem;
    font-size: 2.3rem;
    border-radius: 0.4rem;
  }

}