.link{
  @include flex(center, space-evenly);
  width: 100%;
  list-style: none;
}

.link--footer{
  margin-top: 2rem;
  justify-content: space-between;
  margin-left: 17rem;

  @media (max-width: 992px) {
    margin-left: 8rem;
    justify-content: space-evenly;
  }

  @media (max-width: 767px) {
    margin-left: 4rem;
  }

  @media (max-width: 650px) {
    margin-left: 2rem;
  }

  @media (max-width: 576px) {
    margin-left: 0;
    flex-direction: column;

    .link__item {
      margin: 0.5rem 0;
    }
  }
}


.link--subfooter{
  flex: 1 1 20rem;
  justify-content: space-between;
  margin-left: 10rem;

  @media (max-width: 992px) {
    justify-content: space-evenly;
    margin-left: 0;
  }

  @media (max-width: 576px) {
    margin-top: 2.5rem;
    flex: 0;
    flex-direction: column;

    .link__item {
      margin: 0.5rem 0;
    }
  }
}

.link--header{
  position: relative;
  box-shadow: 0 0.5rem 0 darken($color: #293449, $amount: 10%);
  height: 60px;
  margin-top: 4.3rem;
  background-color: $darkBackground;
  @include flex(center, space-between);
  
  @media (max-width: 576px) {
    box-shadow: none;
    flex-direction: column;
    height: 60px;
    margin-top: 0;
    overflow: hidden;
  }
}

.link__mobile-arrow {
  display: none;

  position: absolute;
  top: 17px;
  right: 10%;
  width: 24px;
  height: 24px;
  fill: #fff;
  transform: rotate(270deg);

  @media (max-width: 576px) {
    display: block;
  }
}

.top {
  transform: rotate(90deg);
}

.link__wrapper{
  flex: 1;
  @include flex(center, center, column);
  padding: 18px 0 6px 0;

  &:hover{
    background: darken($color: #293449, $amount: 5%);
  }
  
  &:active {
    background: darken($color: #293449, $amount: 10%);
    .link__item{
      color: #9fa1a6;
    }
  }

  @media (max-width: 650px) {
    margin-top: 6px;
    padding: 22px 0 6px 0;
  }

  @media (max-width: 576px) {
    padding: 18px 0 6px 0;
    margin-top: 0;
    width: 100%;
    max-width: 100%;
  }

}

.link__item{
  color: white;
  text-decoration: none;
  display: block;
  height: 3.5rem;
  font-size: 1.7rem;

  &--yellow {
    color: #ffd180;
    display: inline-block;
    font-size: 1.7rem;

    @media (max-width: 767px) {
      padding-right: 1rem;
    }
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.5;
  }

  &--footer {
    display: block;
    height: 3.5rem;
    margin-right: 1rem;
    font-size: 1.7rem;
  }

  @media (max-width: 767px) {
    font-size: 1.6rem;
  }

  @media (max-width: 650px) {
    font-size: 1.4rem;
  }

  @media (max-width: 576px) {
    font-size: 1.7rem;
  }
}
