.link{
  @include flex(center, space-evenly);
  width: 100%;
  list-style: none;
}

.link--footer{
  margin-top: 2rem;
  justify-content: space-between;
  margin-left: 17rem;
}


.link--subfooter{
  flex: 1 1 20rem;
  justify-content: space-between;
  margin-left: 10rem;
}

.link--header{
  position: relative;
  box-shadow: 0 0.5rem 0 darken($color: #293449, $amount: 10%);
  height: 60px;
  margin-top: 4.3rem;
  background-color: $darkBackground;
  @include flex(center, space-between);
  
  @media (max-width: 576px) {
    box-shadow: none;
    flex-direction: column;
    height: 60px;
    margin-top: 0;
    overflow: hidden;
  }
}

.link__mobile-arrow {
  position: absolute;
  top: 0;
  right: 0;
  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: -40px;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
  }
}

.link__wrapper{
  flex: 1;
  @include flex(center, center, column);
  padding: 18px 0 6px 0;

  &:hover{
    background: darken($color: #293449, $amount: 5%);
  }
  
  &:active {
    background: darken($color: #293449, $amount: 10%);
    .link__item{
      color: #9fa1a6;
    }
  }

  @media (max-width: 576px) {
    width: 100%;
    max-width: 100%;
  }

}

.link__item{
  color: white;
  text-decoration: none;
  display: block;
  height: 3.5rem;
  font-size: 1.7rem;

  &--yellow {
    color: #ffd180;
    display: inline-block;
    font-size: 1.7rem;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.5;
  }

  &--footer {
    display: block;
    height: 3.5rem;
    margin-right: 1rem;
    font-size: 1.7rem;
  }

  @media (max-width: 767px) {
    font-size: 1.6rem;
  }

  @media (max-width: 600px) {
    font-size: 1.5rem;
  }
}
