.logo{
  max-width: 23rem;
  width: 100%;
  padding: 2.1rem 0;
  text-align: center;
  border: 0.2rem solid #c8343e;
  background-color: $red;
  box-shadow: 0 0.5rem 0 #a82931f0;
  text-decoration: none;
  line-height: 1.8rem;
  color: white;
  font-size: 1.9rem;
  transition: all 0.3s;

  &:hover{
    background-color: darken($color:$red, $amount: 5%)
  }

  &:active{
    background-color: darken($color:$red, $amount: 15%)
  }

  @media (max-width: 767px) {
    box-shadow: none;
    font-size: inherit;
  }

  @media (max-width: 576px) {
    max-width: 100%;
    font-size: 2rem;
    padding: 2.22rem 0;
  }

  &--footer {
    font-size: 1.9rem;

    @media (max-width: 767px) {
      font-size: 1.9rem;
    }
  }
}
