.modal {
  max-width: 62rem;
  width: 100%;

  margin: auto;
  padding: 5.5rem 0 3.7rem 0;
  border-top: 7px solid #ff5357;
}

.modal__container {
  max-width: 46rem;
  width: 100%;

  margin: auto;
}

.modal__content {
  &--cart {
    @include flex(center, space-between);
    padding: 0 12.6rem 0 8.1rem;
    font-size: 3rem;
  }
}