.pages__list {
  list-style: none;
  @include flex(center);

  @media (max-width: 992px) {
    justify-content: center;
  }

  @media (max-width: 400px) {
    flex-wrap: wrap;
  }
}

.pages__item {
  margin-right: 1rem;

  @media (max-width: 400px) {
    margin-bottom: 2rem;
  }
}