.panel{
  @include flex(center, space-between);
  height: 8.9rem;
  padding: 2.81rem;
  background: #f9f5f0;

  &--blue {
    background: #f2f6f8;
  }
}

.panel__title{
  font-size: 2.8rem;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}
