.path-panel__wrapper {
  @include flex(center);
  padding: 2.3rem 0;
  font-family: 'PT Sans';

  @media (max-width: 992px) {
    padding: 2.3rem 1rem;
  }

  @media (max-width: 400px) {
    flex-direction: column;
  }
}

.path-panel__home {
  @media (max-width: 400px) {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
}

.path-panel__arrow{
  transform: rotateY(180deg);
  margin-left: 1.3rem;

  @media (max-width: 400px) {
    transform: rotate(270deg);
  }
}

.path-panel__item {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-left: 1.3rem;
  font-weight: 500;

  @media (max-width: 400px) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}