.path-panel__wrapper {
  @include flex(center);
  max-width: 94rem;
  width: 100%;

  margin: auto;
  padding: 2.3rem 0;
}

.path-panel__arrow{
  transform: rotateY(180deg);
  margin-left: 1.3rem;
}

.path-panel__item {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-left: 1.3rem;
  font-weight: 500;
}