.popular-fabricators__gallery{
  padding-top: 2rem;
  padding-bottom: 8.5rem;
  @include flex(center, center, row, wrap);
  list-style: none;
}

.popular-fabricators__card{
  @include flex(center, center);

  flex: 0 1 22rem;
  min-height: 14.5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;

  border: 1px solid #eaeaea;

  transition: all 0.4s;

  &:nth-child(4){
    margin-right: 0;

    @media (max-width: 992px) {
      margin-right: 2rem;
    }

    @media (max-width: 767px) {
      margin: 1rem;
    }
  }

  &:nth-child(8){
    margin-right: 0;

    @media (max-width: 992px) {
      margin-right: 2rem;
    }

    @media (max-width: 767px) {
      margin: 1rem;
    }
  }

  &:hover {
    -webkit-box-shadow: 0px 12px 48px -24px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 12px 48px -24px rgba(0,0,0,0.67);
    box-shadow: 0px 12px 48px -24px rgba(0,0,0,0.67);    
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: 767px) {
    margin: 1rem;
  }
}

