.slider__wrapper{
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
}

.slider__arrow{
  position: absolute;
  top: 50%;
  width: 6rem;
  height: 6rem;
  &--left {
    left: 0;
    transform: translateY(-50%);
  }

  &--right {
    transform: rotate(180deg) translateY(50%);
    right: 0;
  }
}

.slider__arrow img{
  width: 100%;
  height: 100%;
}

.slider{
  list-style: none;
  height: 26.6rem;
}

.slider__item{
  width: 100%;
  height: 100%;
  padding-left: 3rem;

  &--dril {
  background: url('../../img/slide-drill-background.jpg');
  }
}


.slider__text{
  padding-top: 1rem;
  color: white;
}

.slider__title{
  font-size: 3.6rem;
}

.slider__description{
  padding-top: 0.8rem;
  font-size: 1.8rem;
}
