.sort{
  width: 100%;
  background: #f7f3ec;
  padding: 14px 19px;
  font-size: 1.3rem;
  text-transform: uppercase;

  @include flex(center, space-between);

  @media (max-width: 576px) {
    @include flex(center, flex-start, column);  }
}

.sort__title { 
  flex: 1 1 20rem;
  
  @media (max-width: 576px) {
    flex: 0;
  }

  @media (max-width: 400px) {
    font-size: 1.9rem;
  }
}

.sort__options{
  @include flex(center, space-between);
  flex: 2 1 35rem;
  
  @media (max-width: 576px) {
    margin-top: 1rem;
    flex: 0;
  }

  @media (max-width: 400px) {
    flex-direction: column;
  }
}

.sort__option {
  opacity: 0.5;
  border-bottom: 1px dotted red;
  line-height: 1.5rem;

  &:hover {
    border-bottom: 1px solid red;
    line-height: 1.5rem;
    opacity: 1;
  }
  
  &--active {
    color: red;
    opacity: 1;
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
  @media (max-width: 576px) {
    margin-right: 1.5rem;
  }

  @media (max-width: 400px) {
    margin-right: .5rem;
    margin-bottom: 1rem;
  }

}